/*=================================================GENERAL=================================================*/

body {
   font-family: 'Raleway', sans-serif;
}

div.sidebar-container {
    height:100%;
    box-shadow:none;
    background-color:white;
    color:black;
    border-bottom-right-radius:0 !important;
    border-top-right-radius:0 !important;
    border-right:1px double black;
}

h3 {
font-weight: 300;
font-size: 47px;
text-transform: lowercase;
line-height: 35px;
margin-bottom: 12px;
	margin-top:0;
}

.information {
position: absolute;
background-color: rgba(255,255,255,0.87);
padding: 10px;
right: 0;
width: 215px;
height: 220px;
}

.information p {
position: absolute;
bottom: 10px;
font-size: 16px;
margin-bottom: 0;
}

.information.bottom {
    bottom:0;
    border:1px solid black;
    border-bottom:none;
}


.information.top {
    top:0;
    border:1px solid black;
    border-top:none;
}


a, a:visited {
    color:black;

	text-decoration:none;

}

a:hover, a:focus {
    text-decoration:none;
	font-weight:500;
}


.pentagonshape {
    position: relative;
width: 14px;
border-width: 14px 8px 0;
border-style: solid;
border-color: red transparent;
margin: 0 auto;
margin-top: 15px;
display: inline-block;
float: left;
}
.pentagonshape:before {
    content: "";
position: absolute;
height: 0;
width: 0;
top: -28px;
left: -9px;
border-width: 0 16px 14px;
border-style: solid;
border-color: transparent transparent red;
}

.swatches {
    margin: 0 auto;
width: 14%;
float: right;
}
	.description {
		width: 80%;
		margin-right:10px;
		float:left;
	}

@media (max-width:767px) {
	.information {
		right:0;
	}
}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
.item:nth-child(1) {
     background-color:white !important;
    background-image:url("../img/eye.png");

    background-position: center center;
	background-size:cover;
}
.item:nth-child(2) {
   background-color:white !important;
    background-image:url("../img/lemontree2.png");

    background-position: center center;
	background-size:cover;
}
.item:nth-child(3) {
  background: orange;
}

.fp-slide {
	float:none;
}


/*=================================================SIDE NAV=================================================*/

.sidenav {
	left: 0;
bottom: 0;
background-color: rgba(255,255,255,0.87);
width: 100px;
border-right: 1px solid black;
z-index: 1000;
height: 100%;
position: fixed;
}




div.img-container {
width: 60px;
height: 115px;
position: relative;
margin-left: auto;
margin-right: auto;
overflow: hidden;
 }

div.list-container {
width: 85px;
/* height: 115px; */
position: relative;
margin-left: auto;
margin-right: auto;
height: 100%;
/* overflow: visible; */
margin-top: 28px;
 }


img.cropped {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.sidenav li {
margin-bottom: 28px;
/* max-width: 60px; */
text-align: center !important;
font-size: 15px;
line-height: 1em;
font-weight: 300;
list-style: none;

	}

.sidenav ul {
padding: 0;
position: absolute;
margin: auto;
right: 0;
bottom: 0;
left: 0;
height: 100%;
}


.sidenav li.active {
	font-weight:500;
		pointer-events: none;
   cursor: default;
}


.button {
	cursor:pointer;
}





/*=================================================PENTAGON=================================================*/

#section0 {
    background-color:white !important;
    padding-top:15px;
}

.pentagon {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
	max-width:100%;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



.pentagon.two {
        -webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
width: 376px;
height: 358px;
top: -88px;
left: 23px;
}



.pentagon.three {
        -webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
width: 476px;
height: 453px;
}


.pentagon.four {
        -webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
width: 605px;
height: 574px;
}

@media (max-width:767px) {
.pentagon.four,.pentagon.three {
	display:none;
}

	.pentagon.two {
		height:auto;
	}
	
}

/*=================================================LEMON OF MY EYE=================================================*/

.eye {
    background-color:white !important;
    background-image:url("../img/eye.png");
    background-attachment: fixed;
    background-position: center center;
	background-size:cover;
}

.eye h3 {
    color:#DD712B;
}

.eye p,.eye a  {
    color:#7DA75A !important;
}

.eye .information {
    border-color:#A57CA5;
}

.eye .pentagonshape:nth-child(1) {
    border-color:#A57CA5 transparent;
}

.eye .pentagonshape:nth-child(1):before {
     border-color: transparent transparent #A57CA5 ;
}

.eye .pentagonshape:nth-child(2) {
    border-color:#7DA75A transparent;
}

.eye .pentagonshape:nth-child(2):before  {
     border-color: transparent transparent #7DA75A ;
}

.eye .pentagonshape:nth-child(3) {
    border-color:#CFAF36 transparent;
}

.eye .pentagonshape:nth-child(3):before {
     border-color: transparent transparent #CFAF36 ;
}

.eye .pentagonshape:nth-child(4) {
    border-color:#614130 transparent;
}

.eye .pentagonshape:nth-child(4):before  {
     border-color: transparent transparent #614130 ;
}

.eye .pentagonshape:nth-child(5) {
    border-color:#DD712B transparent;
}

.eye .pentagonshape:nth-child(5):before {
     border-color: transparent transparent #DD712B ;
}

/*=================================================BOWL=================================================*/

.bowls {
    background-color:white !important;
    background-image:url("../img/bowl.png");
    background-attachment: fixed;
    background-position: center center;
	background-size:cover;
}

.bowls p  {
    color:#0E404E !important;
}

.bowls h3 {
    color:#C5C851;
}

.bowls .information {
    border-color:#C5C851;
}

.bowls .pentagonshape:nth-child(1) {
    border-color:#0E404E transparent;
}

.bowls .pentagonshape:nth-child(1):before {
     border-color: transparent transparent #0E404E ;
}

.bowls .pentagonshape:nth-child(2) {
    border-color:#C5C851 transparent;
}

.bowls .pentagonshape:nth-child(2):before  {
     border-color: transparent transparent #C5C851 ;
}

/*=================================================Trees=================================================*/

.trees {
    background-color:white !important;
    background-image:url("../img/lemontree2.png");
    background-attachment: fixed;
    background-position: center center;
	background-size:cover;
}

.trees  p  {
    color:#765046 !important;
}

.trees  h3 {
    color:#765046;
}

.trees  .information {
    border-color:#BDCCD4;
}

.trees .pentagonshape:nth-child(1) {
    border-color:#BDCCD4 transparent;
}

.trees  .pentagonshape:nth-child(1):before {
     border-color: transparent transparent #BDCCD4 ;
}

.trees  .pentagonshape:nth-child(2) {
    border-color:#765046 transparent;
}

.trees  .pentagonshape:nth-child(2):before  {
     border-color: transparent transparent #765046 ;
}

/*=================================================Porazka================================================*/

.porazka img {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
	max-width:100%;
}

/*=================================================Trees=================================================*/

.porazka2 {
    background-color:white !important;
    background-image:url("../img/porazkabckg1.png");
    background-attachment: fixed;
    background-position: center center;
	background-size:cover;
}

.trees  p  {
    color:#765046 !important;
}

.trees  h3 {
    color:#765046;
}

.trees  .information {
    border-color:#BDCCD4;
}

.trees .pentagonshape:nth-child(1) {
    border-color:#BDCCD4 transparent;
}

.trees  .pentagonshape:nth-child(1):before {
     border-color: transparent transparent #BDCCD4 ;
}

.trees  .pentagonshape:nth-child(2) {
    border-color:#765046 transparent;
}

.trees  .pentagonshape:nth-child(2):before  {
     border-color: transparent transparent #765046 ;
}

/*=================================================Trees=================================================*/

.porazka3 {
    background-color:white !important;
    background-image:url("../img/porazkannckg2.png");
    background-attachment: fixed;
    background-position: center center;
	background-size:cover;
}

.trees  p  {
    color:#765046 !important;
}

.trees  h3 {
    color:#765046;
}

.trees  .information {
    border-color:#BDCCD4;
}

.trees .pentagonshape:nth-child(1) {
    border-color:#BDCCD4 transparent;
}

.trees  .pentagonshape:nth-child(1):before {
     border-color: transparent transparent #BDCCD4 ;
}

.trees  .pentagonshape:nth-child(2) {
    border-color:#765046 transparent;
}

.trees  .pentagonshape:nth-child(2):before  {
     border-color: transparent transparent #765046 ;
}

